.frame-47,
.frame-47 * {
  box-sizing: border-box;
}
.frame-47 {
  background: #ffffff;
  height: 885px;
  position: relative;
  overflow: hidden;
}
.frame-2 {
  background: #ffffff;
  width: 218px;
  height: 885px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 1);
  overflow: hidden;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 60px;
  top: 19px;
}
.frame-8 {
  background: #ffffff;
  border-radius: 20px;
  width: 172px;
  height: 71px;
  position: absolute;
  left: 25px;
  top: 133px;
  overflow: hidden;
}
.vector {
  width: 26.16%;
  height: 63.38%;
  position: absolute;
  right: 65.12%;
  left: 8.72%;
  bottom: 21.13%;
  top: 15.49%;
  overflow: visible;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 10.67%;
  left: 44.77%;
  width: 44.56%;
  bottom: 21.13%;
  top: 19.72%;
  height: 59.15%;
}
.frame-14 {
  background: #ededed;
  border-radius: 20px;
  width: 172px;
  height: 71px;
  position: absolute;
  left: 25px;
  top: 240px;
  overflow: hidden;
}
.vector2 {
  width: 26.16%;
  height: 63.38%;
  position: absolute;
  right: 65.12%;
  left: 8.72%;
  bottom: 21.13%;
  top: 15.49%;
  overflow: visible;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 8.72%;
  left: 44.77%;
  width: 46.51%;
  bottom: 21.13%;
  top: 19.72%;
  height: 59.15%;
}
.frame-15 {
  background: #ffffff;
  border-radius: 20px;
  width: 172px;
  height: 71px;
  position: absolute;
  left: 25px;
  top: 347px;
  overflow: hidden;
}
.vector3 {
  width: 26.16%;
  height: 63.38%;
  position: absolute;
  right: 65.12%;
  left: 8.72%;
  bottom: 21.13%;
  top: 15.49%;
  overflow: visible;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 10.47%;
  left: 44.77%;
  width: 44.77%;
  bottom: 21.13%;
  top: 19.72%;
  height: 59.15%;
}
.frame-16 {
  background: #ffffff;
  border-radius: 20px;
  width: 172px;
  height: 71px;
  position: absolute;
  left: 25px;
  top: 454px;
  overflow: hidden;
}
.vector4 {
  width: 26.16%;
  height: 63.38%;
  position: absolute;
  right: 65.12%;
  left: 8.72%;
  bottom: 21.13%;
  top: 15.49%;
  overflow: visible;
}
.div5 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 10.36%;
  left: 45.08%;
  width: 44.56%;
  bottom: 21.13%;
  top: 19.72%;
  height: 59.15%;
}
.frame-17 {
  background: #ffffff;
  border-radius: 20px;
  width: 172px;
  height: 71px;
  position: absolute;
  left: 25px;
  top: 561px;
  overflow: hidden;
}
.vector5 {
  width: 26.16%;
  height: 63.38%;
  position: absolute;
  right: 65.12%;
  left: 8.72%;
  bottom: 21.13%;
  top: 15.49%;
  overflow: visible;
}
.div6 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 7.56%;
  left: 44.77%;
  width: 47.67%;
  bottom: 21.13%;
  top: 19.72%;
  height: 59.15%;
}
.frame-41 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.6px;
  width: 1109px;
  height: 82px;
  position: absolute;
  left: 300px;
  top: 62px;
  overflow: hidden;
}
.div7 {
  color: #fd6438;
  text-align: left;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 80.7%;
  left: 11.81%;
  width: 7.48%;
  bottom: 21.95%;
  top: 18.29%;
  height: 59.76%;
}
.div8 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 14.16%;
  left: 81.15%;
  width: 4.69%;
  bottom: 19.51%;
  top: 20.73%;
  height: 59.76%;
}
.frame-53 {
  background: #ffffff;
  border-radius: 10px;
  width: 328px;
  height: 495px;
  position: absolute;
  left: 300px;
  top: 189px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1);
  overflow: hidden;
}
.frame-18 {
  width: 329px;
  height: 237px;
  position: absolute;
  left: -1px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
.frame-21 {
  background: #ffffff;
  width: 328px;
  height: 258px;
  position: absolute;
  left: -1px;
  top: 237px;
  overflow: hidden;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: 700;
  position: absolute;
  left: 9px;
  top: 1px;
}
.div10 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 6px;
  letter-spacing: 0.04em;
  font-weight: 400;
  position: absolute;
  left: 35px;
  top: 24px;
}
._30 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: 400;
  position: absolute;
  left: 198px;
  top: 9px;
  width: 123px;
}
._12-12-2 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Light", sans-serif;
  font-size: 10px;
  letter-spacing: 0.04em;
  font-weight: 300;
  position: absolute;
  left: 17px;
  top: 39px;
}
.div11 {
  color: #000000;
  text-align: center;
  font-family: "Cairo-Light", sans-serif;
  font-size: 10px;
  letter-spacing: 0.04em;
  font-weight: 300;
  position: absolute;
  left: 0px;
  top: 93px;
  width: 326px;
  height: 144px;
}
