.frame-78,
.frame-78 * {
  box-sizing: border-box;
}
.frame-78 {
  background: #ffffff;
  height: 964px;
  position: relative;
  overflow: hidden;
}

.frame-78 a{
  text-decoration: none;
}

.forms{
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 230px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.frame-89 {
  background: #ffffff;
  width: 1254px;
  height: 85px;
  position: absolute;
  left: 123px;
  top: 110px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  overflow: hidden;

}
.div {
  color: #fb4a16;
  text-align: left;
  font-family: "Cairo-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 26px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 452px;
  top: 26px;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 784px;
  top: 26px;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 1113px;
  top: 26px;
}

.frame-90 {
  background: #ffffff;
  width: 900px;
  height: 325px;
  overflow: hidden;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-top: 25px;
  border-radius: 15px;
}



.cloud-games {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.ali {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Light", sans-serif;
  font-size: 13px;
  letter-spacing: 0.01em;
  font-weight: 300;
}

.frame-93 {
  width: 143px;
  height: 70px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  translate: -7px 7px;
}

.frame-93:hover{
  border: #16FB48 2px solid;
  transform: scaleY(-5px);
}

.frame-932 {
  background: #ffffff;
  width: 1028px;
  height: 325px;
  position: absolute;
  left: 236px;
  top: 598px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  overflow: hidden;
}
.frame-97 {
  width: 165px;
  height: 98px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.cloud-games2 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 17px;
}
.ali2 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Light", sans-serif;
  font-size: 13px;
  letter-spacing: 0.01em;
  font-weight: 300;
  position: absolute;
  left: 47px;
  top: 58px;
}
.frame-92 {
  width: 100%;
  height: 97px;
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: x-large;
  font-weight: 400;
}


.div6 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 32px;
}

.info{
  width: 750px;
  height: 323px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.info div{
  margin-left: 20px;
  margin-top: 20px;
}

.right{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

form{
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  translate: 0 64px;
}

form button{
  width: 80px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: larger;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
}

form button:hover{
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  box-shadow: 0px 0px 5px 0px #ff0202;
  background-color: white;
  color: black;
}

form button:hover:not(.bt){
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  box-shadow: 0px 0px 5px 0px #00d200;
  background-color: white;
  color: black;
}