.frame-48,
.frame-48 * {
  box-sizing: border-box;
}
.frame-48 {
  background: #ffffff;
  height: 3299px;
  position: relative;
  overflow: hidden;
}
.frame-54 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 95%;
  height: 20%;
  position: absolute;
  left: 3%;
  top: 72px;
  overflow: hidden;
  object-fit: cover;
}
.frame-50 {
  background: #ffffff;
  border-radius: 10px;
  font-size: x-large;
  border-style: solid;
  border-color: #000000;
  border-width: 0.3px;
  width: 95%;
  height: 99px;
  position: absolute;
  left: 3%;
  top: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-end;
  align-items: center;
}
.div {
  color: #fd6438;
  text-align: left;
  width: 5.91%;
  height: 65.66%;
}
.div2 {
  color: #fd6438;
  text-align: left;
  width: 5.91%;
  height: 65.66%;
}
.location {
  width: 35px;
  height: 57px;
  position: absolute;
  right: 92.73%;
  left: 3.8%;
  bottom: 26.26%;
  top: 26.26%;
  overflow: visible;
}
.div3 {
  color: #000000;
  text-align: center;
  font-family: "Cairo-Light", sans-serif;
  font-size: medium;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: bold;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "Cairo-Bold", sans-serif;
  font-size: 20px;
  letter-spacing: 0.04em;
  font-weight: 700;
  margin-bottom: 80px;
}
.div5 {
  color: #000000;
  text-align: center;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: absolute;
  left: 178px;
  top: 1604px;
}
.div6 {
  color: #000000;
  text-align: center;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: absolute;
  left: 724px;
  top: 1604px;
}
.div7 {
  color: #000000;
  text-align: center;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: absolute;
  left: 1198px;
  top: 1604px;
}
.r-300-0000 {
  color: #009f22;
  text-align: center;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: absolute;
  left: 219px;
  top: 1669px;
}
._5 {
  color: #009f22;
  text-align: center;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: absolute;
  left: 777px;
  top: 1680px;
}
._52 {
  color: #009f22;
  text-align: center;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: absolute;
  left: 1252px;
  top: 1680px;
}
.frame-40 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.6px;
  width: 95%;
  height: 100px;
  position: absolute;
  left: 3%;
  top: 1950px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}
.div8 {
  color: #000000;
  text-align: center;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: absolute;
  left: 487px;
  top: 28px;
}
.div9 {
  color: #fb4a16;
  text-align: center;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: absolute;
  left: 153px;
  top: 28px;
}
.div10 {
  color: #000000;
  text-align: center;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: absolute;
  left: 807px;
  top: 28px;
}
.div11 {
  color: #000000;
  text-align: center;
  font-family: "Cairo-Medium", sans-serif;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: absolute;
  left: 1165px;
  top: 28px;
}

.frame-56 {
  background: #ffffff;
  width: 1500px;
  height: 1145px;
  position: absolute;
  left: -2px;
  top: 2054px;
  overflow: hidden;
}

.frame-48 .d1{
  width: 95%;
  height: 600px;
  position: relative;
  top: 980px;
  left: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}


.d2{
  width: 95%;
  height: 200px;
  position: relative;
  top: 1000px;
  left: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}


.section{
  width: 25%;
  height: 90%;
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
  letter-spacing: 1px;
}

.section:hover{
  border: #fb4a16 solid 1px;
  transform: rotateY(-9px);
}

.t{
  color: #000000;
  font-weight: bold;
}
.value{
  color: rgb(1, 201, 1);
  font-weight: 800;
}



.pages{
  width: 95%;
  height: 1000px;
  position: absolute;
  left: 3%;
  top: 2300px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
}



/* ------------------------------------------------ */

.main-frame,
.main-frame * {
box-sizing: border-box;
}
.main-frame {
width: 800px;
height: 1000px;
position: relative;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
align-items: flex-start;
justify-content: space-between;
}
.frame1 {
width: 800px;
height: inherit;
position:  sticky;
left: 0px;
top: 248px;
background-color: #FFFFFF;
display: flex;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
flex-direction: column;
overflow: scroll;
scroll-behavior: smooth;
}


.comment {
background: #ffffff;
width: 731px;
height: 100px;
position: relative;
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 1);
overflow: hidden;
margin-top: 5px;
margin-bottom: 5px;
}


.ali {
color: #000000;
text-align: left;
font-family: "Inter-Regular", sans-serif;
font-size: 15px;
font-weight: 400;
position: absolute;
left: 20px;
top: 14px;
}
._4 {
color: #959595;
text-align: left;
font-family: "Inter-Light", sans-serif;
font-size: 12px;
font-weight: 300;
position: absolute;
left: 659px;
top: 13px;
}
.div2a {
color: #000000;
text-align: left;
font-family: "Inter-Light", sans-serif;
font-size: 12px;
font-weight: 300;
position: absolute;
left: 20px;
top: 45px;
}

.add {
width: 800px;
height: 233px;
position: absolute;
overflow: hidden;
background-color: #ffffff;
display: flex;
align-items: flex-end;
justify-content: space-evenly;
justify-items: center;
align-content: center;
flex-wrap: wrap;
flex-direction: column;
}

button {
color: white;
background: #000000;
border-radius: 5px;
width: 120px;
height: 36px;
}
.div3 {
color: #ffffff;
text-align: left;
font-family: "Inter-Bold", sans-serif;
font-size: 20px;
font-weight: 700;
position: absolute;
left: 33px;
top: 6px;
}
.frame-88 {
background: #bdbdbe;
width: 799px;
height: 7px;
position: absolute;
left: 0px;
top: 237px;
}


.field {
background: #ffffff;
border-radius: 8px;
border: #bdbdbe solid 2px;
width: 733px;
height: 141px;
overflow: hidden;
display: flex;
justify-content: center;
}

textarea{
width: 100%;
outline: none;
border: none;
text-align: center;
padding-top: 10px;
resize: none;
}


.delete{
  width: 55px;
  background-color: red;
  border: none;
  outline: none;
  position: absolute;
  left: 83%;
  top: 50%;
}

.com{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.com a{
  text-decoration: none;
  color: white;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.com::before{
  content: "التعليقات";
  font-size: x-large;
  font-weight: bold;
  position: relative;
  bottom: 120px;
  left: 40%;
}

.data{
  background-color: #FFFFFF;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 56%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.data button{
  width: 450px;
  height: 60px;
  color: white;
  outline: none;
  border: none;
  background-color: #009f22;  
  text-align: center;
  font-size: x-large;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sup:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}